* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.container-left {
    width: 50%;
}

.container-right {
    width: 40%;
    /* border: 2px solid blue; */
}

.f-title {
    color: #4080ff;
    font-size: 65px;
    font-weight: bolder;
}

.f-text {
    color: #1c1e21;
    font-size: 2.5vw;
}

.login-card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 14px;
}

input {
    width: 100%;
    display: block;
    padding: 14px 16px;
    margin: 12px 0px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.314);
    outline: 0;
}

input:focus {
    border: 1px solid #4080ff;
}

input::placeholder {
    font-size: 16px;
}

.login-button {
    background-color: #4080ff;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.forgotten-link {
    color: #4080ff;
    font-size: 18px;
    text-decoration: none;
}

.container-right hr {
    margin: 14px 0px;
}

.create-button {
    display: inline-block;
    background-color: #42b72a;
    padding: 14px 18px;
    margin: 8px 0px 16px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
}

/* media query */
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        gap: 50px;
    }
    .f-title{
        font-size: 40px;
    }
}